
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
  font-family: 'Acme', sans-serif;
  color: rgb(86, 83, 83);
}

header{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7B71D;
}
main{
    width: 100%;
    min-height: 35vh;
    background-color: #FDEF96;
    padding: 1rem;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    color: #F7B71D;
    text-shadow: 2px 2px black;
}
h2{
    color: #F7B71D;
    text-shadow: 2px 2px black;

}
.navbar{
    background-color: #FDEF96;
    font-size: 1.3rem;
}
#main-index section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}
#main-index p{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
}

/*CARDS*/
/* From uiverse.io by @alexruix */
.card {
  width: 320px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(86, 83, 83);
 }
 
 .card-img {
  background-color: #f7b78c;
  height: 40%;
  width: 190px;
  object-fit: cover;
  border-radius: .5rem;
  transition: .3s ease;
 }
 .card-img img {
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
 }

 .card-info {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  align-self: flex-end;
 }
 
 /*Text*/
 .text-title {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
  color: rgb(86, 83, 83);
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #a88b78;
  border-bottom: 1px solid #a88b78;
  background-color: #a88b78;
 }
 
.barra-buscador{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.2rem;
}

.barra-buscador fieldset{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
footer{
    width: 100%;
    min-height: 25vh;
    background-color: #AFA939;
    display: flex;
    flex-wrap: wrap;
    padding-top:1rem;
    justify-content: space-between;
}

footer div{
  display: flex;
  justify-content: space-around;
  width: 100%;

}
footer div p{
  width: 100%;
  background-color:#AFA939;
  border-radius: .8rem;
}

footer p{
  background-color: black;
  color: #ffff;
  text-align: center;
}
footer a{
  margin: 1rem;

}

footer img{
  width: 100%;
  display: block;
  position: relative;
  filter: brightness(.99) saturate(0) opacity(.4);
  transform: scale3d(.9,.9,1);
  transition: transform .4s,filter .3s ease;
  color:grey;
  border-radius: 1rem;
}
footer img:hover{
  filter:none;
  transition:all 1s;
  transform: translateY(5px);
  cursor: pointer;
}
aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
aside img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;

}
.aside{
  background-color: #fff;
  border-radius: 0 0 1rem 1rem ;
  padding: 1rem;
}
section{
    width: 80%;
    background-image: url("./img/fondo.jpg");
    background-size: cover;
    background-position: 60% 10%;
}


  .contenedor {
    position: relative;
    top:2%;
    left:18%;
    width: 36%;
    perspective: 1000px;
  }
  
  .carousel {
    width: 30%;
    height: 5%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite linear;
  }
  .carousel__face { 
    position: absolute;
    width: 95%;
    height: 100px;
    top:0;
    background-size: cover;
    display: flex;
    border: 5px solid #F7B71D;
  }
  .carousel__face img{
    object-fit: cover;
    width: 100%;
  }


  
  
  .carousel__face:nth-child(1) {
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) {
    transform: rotateY(  20deg) translateZ(430px); }
  .carousel__face:nth-child(3) { 

      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(4) {

    transform: rotateY( 60deg) translateZ(430px); }
  .carousel__face:nth-child(5) {

    transform: rotateY(80deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 

  transform: rotateY(100deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 

  transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(8) { 

  transform: rotateY(140deg) translateZ(430px); }
  .carousel__face:nth-child(9) {

    transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(10) {

    transform: rotateY(180deg) translateZ(430px); }
  .carousel__face:nth-child(11) {

    transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(12) {

    transform: rotateY(220deg) translateZ(430px); }
  .carousel__face:nth-child(13) {

    transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(14) {

    transform: rotateY(260deg) translateZ(430px); }
  .carousel__face:nth-child(15) {

    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(16) {

    transform: rotateY(300deg) translateZ(430px); }
  .carousel__face:nth-child(17) {

    transform: rotateY(320deg) translateZ(430px); }
  .carousel__face:nth-child(18) {

    transform: rotateY(340deg) translateZ(430px); }
  .carousel__face:nth-child(19) {

    transform: rotateY(360deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  .area_destacada {
    width: 550px;
    height: 473px;
    position: relative;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
article div{
  display: flex;
  height: 60%;
  align-items: center;
}
article:nth-child(1) svg{
  border:2px solid black;
  padding: .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
 
}
article:nth-child(2) a {
  color: #fff;
}
h4{
  text-align: center;
}


