
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
  font-family: 'Acme', sans-serif;
  color: rgb(86, 83, 83);
}

header{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7B71D;
}
main{
    width: 100%;
    min-height: 35vh;
    background-color: #FDEF96;
    padding: 1rem;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    color: #F7B71D;
    text-shadow: 2px 2px black;
}
h2{
    color: #F7B71D;
    text-shadow: 2px 2px black;

}
.navbar{

    min-height: 10%;
    background-color: #FDEF96;
    font-size: 1.3rem;
    z-index: 10;
    border-bottom:2px solid rgba(0, 0, 0, 0.505);
}
.gif{
  width: 25%;

}
.gif img{
  width: 20%;
  

}
#main-index section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}
#main-index p{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
}

/*CARDS*/
/* From uiverse.io by @alexruix */
.card {
  width: 320px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(86, 83, 83);
 }
 
 .card-img {
  background-color: #f7b78c;
  height: 40%;
  width: 190px;
  object-fit: cover;
  border-radius: .5rem;
  transition: .3s ease;
 }
 .card-img img {
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
 }

 .card-info {
  padding-top: 10%;
  
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  align-self: flex-end;
 }
 
 /*Text*/
 .text-title {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.5;
   font-size: .9em;
   color:#AFA939;
   
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
  color: rgb(86, 83, 83);
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  font-size: .9em;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 161, 63, 0.678) 0px 13px 20px -5px, rgba(214, 155, 65, 0.3) 0px 8px 16px -8px;
  
 }
 
 .card-button:hover {
  border: 1px solid #F7B71D;
  border-bottom: 1px solid #F7B71D;
  background-color: #f7b61db8;
 }
 
.barra-buscador{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.2rem;
  background-color: #f7b61d55;
  
}

.barra-buscador fieldset{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  
}
footer{
    width: 100%;
    min-height: 25vh;
    background-color: #AFA939;
    display: flex;
    flex-wrap: wrap;
    padding-top:1rem;
    justify-content: space-between;
}

footer div{
  display: flex;
  justify-content: space-around;
  width: 100%;

}
footer div p{
  width: 100%;
  background-color:#AFA939;
  border-radius: .8rem;
}

footer p{
  background-color: black;
  color: #ffff;
  text-align: center;
}
footer a{
  margin: 1rem;

}

footer img{
  width: 100%;
  display: block;
  position: relative;
  filter: brightness(.99) saturate(0) opacity(.4);
  transform: scale3d(.9,.9,1);
  transition: transform .4s,filter .3s ease;
  color:grey;
  border-radius: 1rem;
}
footer img:hover{
  filter:none;
  transition:all 1s;
  transform: translateY(5px);
  cursor: pointer;
}
aside{
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: sticky;
    top:12%;
}
aside img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;

}
.aside{
  background-color: #fff;
  border-radius: 0 0 1rem 1rem ;
  padding: 1rem;
}
section{
    width: 80%;
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 10%;
}
/*INDEX ONG*/
article img{
  width: 100%;
  height: 270px;
  object-position: 20% 30%;
  object-fit: cover;
}

#carouselExampleCaptions,
.carousel-inner {
  height:60vh;
  width: 50%;
  margin-top: 4.5rem;
  display: flex;
  justify-content: start;
  object-position: 50% 40%;
}

.carousel-item img{
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 1rem 0 0 15rem;
}


/* Height for devices larger than 576px */



article div{
  display: flex;
  height: 60%;
  align-items: center;
}
article:nth-child(1) svg{
  border:2px solid black;
  padding: .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
 
}
article:nth-child(2) a {
  color: #fff;
}
h4{
  text-align: center;
}


